*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: #6CB3D9;
}
.dischi{
    margin:  auto;
    padding: 20px 20px;
    padding-bottom: 30px;
    background-color:rgba(108, 213, 217, 0.6);
    margin-top: 40px;
    border-radius: 10px;
}
.titolo,.anno,.artista{
    margin-top: 10px;
    text-transform: uppercase;
}
